h1 {
  font-family: "Georgia", serif; 
  color: #222;
}

body {
  background-color: #7d7c7c;
  margin: 20px;   
  padding: 20px;
}

.unique-page{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px
}

.unique-page nav {
  background-color: #a5a5a5;
  padding: 10px;
}

.unique-page main {
  background-color: #cfcfcf;
  padding: 10px;
}