h1 {
  font-family: "Georgia", serif; 
  color: #222;
}

body {
  background-color: rgb(122, 117, 117);   
  font-family: Arial, sans-serif;
  color: white;            
  margin: 0;
  padding: 20px;
}
