h1 {
  font-family: "Georgia", serif; 
  color: #222;
}

.actors-page {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
}

.actors-page nav {
  background-color:palegreen;
  padding: 10px;
}

.actors-page main {
  background-color: #ffffff;
  padding: 10px;
}